<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Administrador</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/administrador/registrar}" method="post" th:object="${administrador}">
				<div class="form-group">
					<label for="idadministrador">ID:</label>
					<input type="text" class="form-control" th:field="*{idAdministrador}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nombreAdministrador}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreAdministrador')}" 
							th:errors="*{nombreAdministrador}">						
						</div>
						
						<label for="apellido">Apellido:</label>
						<input type="text" class="form-control" th:field="*{apellidoAdministrador}" id="apellido"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('apellidoAdministrador')}" 
							th:errors="*{apellidoAdministrador}">						
						</div>
						
						<label for="documento">Documento de Administrador:</label>
						<input type="text" class="form-control" th:field="*{documentoAdministrador}" id="documento"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('documentoAdministrador')}" 
							th:errors="*{documentoAdministrador}">						
						</div>
						
						<label for="direccion">Direccion de Administrador:</label>
						<input type="text" class="form-control" th:field="*{direccionAdministrador}" id="direccion"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('direccionAdministrador')}" 
							th:errors="*{direccionAdministrador}">						
						</div>
						
						<label for="telefono">Teléfono de Administrador:</label>
						<input type="text" class="form-control" th:field="*{telefonoAdministrador}" id="telefono"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefonoAdministrador')}" 
							th:errors="*{telefonoAdministrador}">						
						</div>
						
						<label for="correo">Correo de Administrador:</label>
						<input type="text" class="form-control" th:field="*{correoAdministrador}" id="correo"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('correoAdministrador')}" 
							th:errors="*{correoAdministrador}">						
						</div>
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/administrador/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
			
		
	
		</div>

		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>