<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Nueva Sedes</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/gimnasio/registrar}" method="post" th:object="${gimnasio}">
				<div class="form-group">
					<label for="idcliente">ID:</label>
					<input type="text" class="form-control" th:field="*{idGimnasio}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre nueva sede:</label>
						<input type="text" class="form-control" th:field="*{nombreGimnasio}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreGimnasio')}" 
							th:errors="*{nombreGimnasio}">						
						</div>
						
						<label for="Distrito">Distrito:</label>
						<input type="text" class="form-control" th:field="*{gimnasioDistrito}" id="distrito"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('gimnasioDistrito')}" 
							th:errors="*{gimnasioDistrito}">						
						</div>
						
						<label for="direccion">Direccion:</label>
						<input type="text" class="form-control" th:field="*{direccionGimnasio}" id="direccion"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('direccionGimnasio')}" 
							th:errors="*{direccionGimnasio}">						
						</div>
						
						<label for="telefono">Telefono:</label>
						<input type="text" class="form-control" th:field="*{telefonoGimnasio}" id="telefono"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefonoGimnasio')}" 
							th:errors="*{telefonoGimnasio}">						
						</div>
						
						<label for="correo">Correo:</label>
						<input type="text" class="form-control" th:field="*{correoGimnasio}" id="correo"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('correoGimnasio')}" 
							th:errors="*{correoGimnasio}">						
						</div>						
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/gimnasio/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>