<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Rutinas</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/rutina/registrar}" method="post" th:object="${rutina}">
				<div class="form-group">
					<label for="idRutina">ID:</label>
					<input type="text" class="form-control" th:field="*{idRutina}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nameRutina}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameRutina')}" 
							th:errors="*{nameRutina}">						
						</div>
						
						<label for="descripcion">Descripcion:</label>
						<input type="text" class="form-control" th:field="*{descripcion}" id="descripcion"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('descripcion')}" 
							th:errors="*{descripcion}">						
						</div>
						
						<label for="frecuencia">Freccuencia:</label>
						<input type="text" class="form-control" th:field="*{frecuencia}" id="frecuencia"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('frecuencia')}" 
							th:errors="*{frecuencia}">						
						</div>
						
						<label for="duracion">Duracion:</label>
						<input type="text" class="form-control" th:field="*{duracion}" id="duracion"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('duracion')}" 
							th:errors="*{duracion}">						
						</div>
						
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/rutina/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>