<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Sala</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/sala/registrar}" method="post" th:object="${sala}">
				<div class="form-group">
					<label for="idsala">ID:</label>
					<input type="text" class="form-control" th:field="*{idSala}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nombreSala}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreSala')}" 
							th:errors="*{nombreSala}">						
						</div>
						
						<label for="capacidad">Capacidad:</label>
						<input type="text" class="form-control" th:field="*{capacidadSala}" id="capacidad"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('capacidadSala')}" 
							th:errors="*{capacidadSala}">						
						</div>
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/sala/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
			
		
	
		</div>

		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>